body, td, input { font-family: 'Roboto Condensed', sans-serif; font-size: 14pt; }
body { color: #333; }

h1 { font-size: 40pt; font-weight: 300; }
h2 { font-size: 30pt; font-weight: 300; }
h3 { font-size: 24pt; font-weight: 300; }
h4 { font-size: 18pt; font-weight: 300; }

.text-xxl { font-size: 62pt; font-weight: 300; text-transform: uppercase; }
.text-xl { font-size: 40pt; font-weight: 300; text-transform: uppercase; }
.text-l { font-size: 26pt; font-weight: 300; text-transform: uppercase; }
.text-shadow { text-shadow: 2px 2px 4px #000; }
.text-shadow-lg { text-shadow: 0 0 20px rgba(0,0,0,0.5); }
.box-shadow { box-shadow: 2px 2px 10px rgba(0,0,0,0.5); }

.body {
    background-color: #6d695c;
    background-image:
            repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
            repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
            linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
            linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-size: 70px 120px;
}
.main-container { max-width: 1600px; position: relative; margin: 0 auto; box-shadow: 0 0 10px rgba(0,0,0,0.5); background: #fff; }

header { min-height: 880px; background: #585477 url('../img/header-lamp.jpg') center center no-repeat; }

nav { text-align: center; margin-top: 30px; margin-bottom: 20px; }
nav ul { *zoom:1; list-style: none; padding: 0; margin: 0; font-size: 13pt; font-weight: 300; }
nav ul:before, nav ul:after { content:""; display:table; }
nav ul:after { clear:both; }
nav ul > li { display: inline-block; position:relative; margin: 0 10px; }
nav a { color: #fff; text-transform: uppercase; display: block; padding: 5px; }
nav li:hover > a { text-decoration:none; background:#fff; color: #23527c; }
nav li ul { background:#273754; }
nav li ul li { width:200px; text-align: left; margin: 0; font-size: 12pt; }
nav li ul a { border:none; padding: 5px 10px; }
nav li ul a:hover { background:rgba(0,0,0,0.2); color: #fff; }

nav li ul { position:absolute; left:0; top:34px; z-index:1; visibility:hidden; opacity:0; filter:alpha(opacity=0); transition:200ms ease; }
nav ul > li:hover ul { visibility:visible; opacity:1; filter:alpha(opacity=100); }

header .fork-and-spoon { background: url('../img/fork-and-spoon.png') center center no-repeat; height: 118px; }
header .slogan { text-align: center; min-height: 68px; font-size: 36pt; color: #fff; margin-bottom: 20px; font-style: italic; }
header .logo { text-align: center; }
header .below-logo { color: #fff; margin-bottom: 40px; min-height: 26px; text-align: center }
header .below-logo ul { list-style: none; padding: 0; margin: 0; }
header .below-logo li { display: inline-block; }
header .below-logo li:after { content: " / "; }
header .below-logo li:last-child:after { content: ""; }
header .below-logo a { content: ""; color: #fff; font-weight: 300; }
header .phone-number { text-align: center; margin-bottom: 30px; }
header .phone-number span { font-size: 40pt; font-weight: 300; color: #fff; display: inline-block; padding: 15px; border: 3px solid #fff; background: rgba(0,0,0,0.5); }
header .more { margin-bottom: 30px; text-align: center; }
header .below-more { color: #fff; margin-bottom: 20px; text-align: center; }
header .below-more ul { list-style: none; padding: 0; margin: 0; }
header .below-more li { display: inline-block; }
header .below-more li:after { content: " / "; }
header .below-more li:last-child:after { content: ""; }
header .below-more a { content: ""; color: #fff; font-weight: 300; }

[data-slides] {
    background-image: url('../img/header-lamp.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.slider-controls { text-align: center; }
.slider-controls span { display: inline-block; cursor: pointer; margin: 0 5px; background: #fff; border: 1px solid #666; height: 20px; width: 20px; border-radius: 50%; box-shadow: 2px 2px 10px rgba(0,0,0,0.5); }

#about-us { padding: 100px 0 100px 0; background: #f7f7f7; }
#about-us .circle-icon { display: inline-block; background: #fff; border-radius: 50%; height: 140px; width: 140px; text-align: center; box-shadow: 0 5px 12px rgba(0,0,0,0.7); }
#about-us .title { text-transform: uppercase; font-size: 16pt; margin: 30px 0; }
#about-us .text-xl { margin: 50px 0; }

#action { padding: 0 0 50px 0; }
#action .action-wrapper { padding-top: 20px; margin: 0 auto;  max-width: 829px; padding-bottom: 30px; background: #35647d url('../img/action-bg.png') center bottom no-repeat; }
#action .action-text { text-transform: uppercase; margin-bottom: 15px; font-size: 18pt; font-weight: 300; color: #fff; }
#action .action-text a.order { color: #fff; display: inline-block; padding: 5px; border: 2px solid #fff; font-weight: 700; }
#action .action-countdown { color: #fff; font-size: 12pt; margin-top: -20px; }
#action .countdown-words { text-transform: uppercase; font-weight: 700; }
#action .countdown-digits { display: inline-block; margin: 0 10px; position: relative; top: 5px; }
#action .countdown-digits .time-item { display: inline-block; }
#action .countdown-digits .time-name { display: block; margin-bottom: 2px; font-size: 11pt; }
#action .countdown-digits .time-digits { display: inline-block; font-size: 20pt; margin: 0 10px; padding: 3px 10px; background: #e9e9e9 linear-gradient(to top, #343736 1%, #343837 50%, #55595b 51%, #55595b 100%); border-radius: 5px; text-shadow: -2px -1px 5px rgba(0,0,0,0.3); }

#menu-preview {  }
#menu-preview .text-xl { margin: 50px 0; }
#menu-preview .products-previews { text-align: center; }
#menu-preview .product-preview { display: inline-block; box-shadow: inset 0 0 40px rgba(0,0,0,0.5); background-position: center center; background-repeat: no-repeat; width: 320px; height: 225px; }
#menu-preview .product-preview a:hover { text-decoration: none; }
#menu-preview .product-name { margin: 40px 5% 0 5%; height: 60px; overflow: hidden; line-height: 20pt; font-size: 20pt; font-weight: 700; color: #fff; text-align: center; text-shadow: 0 0 10px rgba(0,0,0,1); }
#menu-preview .product-details { height: 85px; overflow: hidden; opacity: 0; text-align: center; }
#menu-preview .product-details .product-price { font-size: 18pt; margin-bottom: 10px; }
#menu-preview .product-details .product-more { font-size: 12pt; font-style: italic; text-decoration: underline; }
#menu-preview .product-preview:hover .product-details { opacity: 1; }
#menu-preview .product-category { text-align: right; margin: 0 8px 0 0; }
#menu-preview .product-category span { font-size: 12pt; display: inline-block; padding: 5px; background: #9a0001; color: #fff; font-style: italic; }

#categories {  }
#categories .text-xl { margin: 50px 0; }
#categories .category { text-align: center; margin-bottom: 50px; }
#categories .category .img { margin-bottom: 15px; }
#categories .category .img img { margin: 0 auto; }
#categories .category .name { font-size: 26pt; font-weight: 300; margin-bottom: 15px; }
#categories .category a { text-decoration: underline; }
#categories .category .description { margin: 0 10% 15px 10%; font-size: 18pt; font-style: italic; }
#categories .category .more a { color: #9a0001; margin-bottom: 15px; font-size: 18pt; font-style: italic; }

#products {  }
#products .text-xl { margin: 50px 0; }
#products .product { text-align: center; margin-bottom: 50px; }
#products .product .img { margin-bottom: 15px; }
#products .product .img img { margin: 0 auto; }
#products .product .name { font-size: 26pt; font-weight: 300; margin-bottom: 15px; color:#9a0001; }
#products .product .description { margin: 0 10% 15px 10%; font-size: 18pt; font-style: italic; }
#products .product .details span span { font-weight: 700; color: #9a0001; }

#content { padding-top: 30px; padding-bottom: 100px; min-height: 400px; }

#calculation { background: #ecebeb; }
#calculation .text-xl { margin: 50px 0; }
#calculation .control-type { margin-bottom: 50px; }
#calculation .title { color: #2a6888; text-transform: uppercase; font-size: 18pt; margin-bottom: 20px; }
#calculation .guests-number { text-align: center; }
#calculation .guests-number-choices { margin-bottom: 70px; display: inline-block; position: relative; }
#calculation .guests-number-choices div { cursor: pointer; display: inline-block; font-size: 26pt; color: #2a6888; font-weight: 300; text-align: center; margin: 0 10px; line-height: 100px; height: 100px; width: 100px; background: #e9e9e9 linear-gradient(to top, #e9e9e9 1%, #f1f1f1 100%); border: 1px solid #fff; box-shadow: 0 2px 8px rgba(0,0,0,0.3); margin-bottom: 20px; }
#calculation .guests-number-choices .active { background: #2a6888 linear-gradient(to top, #2a6888 1%, #195777 100%); color: #fff; }
#calculation .control-details { margin-bottom: 80px; }

#recalls { background: #dfdfdf linear-gradient(to top, #fff, #dfdfdf); padding-bottom: 80px; }
#recalls .text-xl { margin: 50px 0; }
#recalls img { max-width: 200px; }
#recalls .row { margin: 0 0 70px 0; }
#recalls blockquote { margin: 50px 0 0 0; }
#recalls blockquote div { font-size: 90%; color: #777; }

footer { background: #414143; color: #fff; font-size: 11pt; font-weight: 300; padding-bottom: 50px; }
footer hr { position: relative; top: 55px; }
footer a { color: #fff; }
footer a:hover { color: #eee; }
footer ul { list-style: none; padding: 0; margin: 0; }
footer li { margin-bottom: 8px; }
footer .title { font-size: 14pt; text-transform: uppercase; margin-bottom: 20px; }
footer .img-gallery { width: 70px; height: 70px; margin: 0 10px 10px 0; border: 1px solid #444; border-radius: 2px; box-shadow: 2px 2px 10px rgba(0,0,0,0.5); }

#copyright { background: #111; color: #fff; font-size: 11pt; font-weight: 300; padding: 10px 0; }
.articles-list { }
.articles-list .item { border-bottom: 1px solid #ddd; padding: 15px 0; }
.articles-list .item:last-child { border-bottom: none; }
.articles-list .name { font-size: 150%; }

.galleries-list { }
.galleries-list .item { border-bottom: 1px solid #ddd; padding: 15px 0; }
.galleries-list .item:last-child { border-bottom: none; }
.galleries-list .name { font-size: 150%; }

.video-js-responsive-container.vjs-hd { padding-top: 56.25%; }
.video-js-responsive-container.vjs-sd { padding-top: 75%; }
.video-js-responsive-container { width: 100%; position: relative; }
.video-js-responsive-container .video-js { height: 100% !important; width: 100% !important; position: absolute; top: 0; left: 0; }

/* Sweep To Bottom */
.hvr-sweep-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
    color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

/* -------------------- Responsive classes ------------------- */

/* Extra small devices - less than 768 */
@media (max-width: 767px) {
    .text-xxl { font-size: 30pt; }
    .text-xl { font-size: 30pt; }
    .text-l { font-size: 20pt; }

    header { min-height: auto; }
    header nav { margin-top: 10px; margin-bottom: 20px; }
    header .slogan { min-height: auto; font-size: 20pt; margin-bottom: 10px; }
    header .logo img { width: 90%; }
    header .below-logo { margin-bottom: 20px; min-height: auto; }
    header .phone-number { margin-bottom: 20px; }
    header .phone-number span { font-size: 20pt; }
    header .more { margin-bottom: 20px; }

    #about-us { padding: 50px 0; }

    footer .title { font-size: 14pt; text-transform: uppercase; margin-bottom: 15px; margin-top: 40px; }
    footer li { margin-bottom: 4px; }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .text-xxl { font-size: 50pt; }
    .text-xl { font-size: 30pt; }
    .text-l { font-size: 20pt; }

    #recalls img { max-width: 150px; }
    #recalls blockquote { margin: 10px 0 0 0; }
    header .below-logo { margin-bottom: 30px; }
    footer { font-size: 10pt; }
    footer .title { font-size: 12pt; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    .text-xxl { font-size: 55pt; }
    .text-xl { font-size: 34pt; }
    .text-l { font-size: 22pt; }
}